<section>
    <div *ngIf="responseMsg" class=" p-3" [ngClass]="responseMsg=='success' ? 'alert-success' : 'alert-danger'">
        {{responseMsg}}
    </div>
    <div class="container pt-4">
        <div class="title mt-4 mb-4">
            <h2>Sign In</h2>
        </div>
        <div class="form col-7 m-auto">
            <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">

                <div class="mb-3">
                    <input type="email" formControlName="email" class="form-control" placeholder="email"
                        [ngClass]="{'is-valid': email.valid && (email.dirty || email.touched) , 'is-invalid': email.invalid && (email.dirty || email.touched)}">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                        <small *ngIf="email.errors?.required">
                            Email is required.
                        </small>
                        <small *ngIf="email.errors?.email">
                            Must be e-mail format.
                        </small>
                    </div>
                </div>
             
                <div class="mb-3">
                    <input type="password" formControlName="password" class="form-control" placeholder="Password"
                        [ngClass]="{'is-valid': password.valid && (password.dirty || password.touched) , 'is-invalid': password.invalid && (password.dirty || password.touched)}">
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                        <small *ngIf="password.errors?.required">
                            Password is required.<br>
                        </small>
                    
                    </div>
                </div>
                <div>
                    <button type="submit" [disabled]="!signInForm.valid" class="btn btn-primary w-100">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>

