/* You can add global styles to this file, and also import other style files */
section{
    min-height: 100vh;
    background-color: rgb(10, 10, 37);
    padding: 70px 0;
}
.title{
    text-align: center;
    color: white;
    margin: auto;
}